node_modules
.next
out
build
coverage
.pglite
.git
.gitignore
.env
.env*.local
*.md
!README.md
Dockerfile
.dockerignore
.github
jest.config.ts
jest.setup.ts
**/__tests__
scripts
npm-debug.log*
.DS_Store
